<form action="/posts" method="post">
  <label for="Title">Title:</label><br>
  <input type="text" name="title"><br>
  <label for="Description">Description:</label><br>
  <textarea name="description"></textarea><br>
  <input type="submit" value="create post">
</form>
